/*초기설정 */
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif; 
}   
html,body{
  width: 100%; 
  height: 100%;
  /* overflow: hidden; */
}
section{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
  top: 125px;
}
a{
  text-decoration: none;
  list-style: none;
}

/* header */
header{
  width: 100%;
  height: 130px;
  position: fixed;
  z-index: 999;
}
.weatherbar{
  width: 100%;
  height: 30%;
  background: rgb(48, 47, 47);
  color: #fff;
  position: relative;
}
.weather{
  font-size: .9rem;
  word-spacing: 1px;
  position: absolute;
  left: 19%;
  top: 25%;
}
#dates{
  font-size: .9rem;
  color: #fff;
  position: absolute;
  left: 27%;
  top: 25%;
  z-index: 999;
}
.homemenu{
  position: absolute;
  right: 19%;
  top: 20%;
}
.homemenu a{
  color: #fff;
  margin-left: 10px;
  font-size: .8rem;
}
.homemenu a:hover{
  text-decoration: underline;
}
.navbar{
  width: 100%;
  height: 70%;
  background: #fff;
  position: relative;
}
.whitelogo{
  width: 320px;
  height: 70px;
  position: absolute;
  left: 18%;
  top: 18%;
}

/* 드롭다운 메뉴 */
.dropdown{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
nav{
  width: 100%; 
  height: 100%;
  margin: 0 25%;
}
nav >ul img{
  position: absolute;
  top: 57px;
  right: 300px;
  height: 440px;
}
nav >ul >li{
  float:left; 
  line-height: 40px;  
  position: relative; 
  left: 250px;
  list-style: none;
  margin: 35px 10px;
  text-align: center;
}
nav > ul > li:hover ul{
  opacity:1; 
}
nav > ul >li >a{
  font-size: 1.6rem;
  color: #000;
  margin-right: 4em;
  position: relative;
  right: 10px;
}
.line{
  margin-top: -10px;
  width:100%; 
  height: 100%;
  opacity:1; 
  position: absolute; 
  padding-top: 1.4em;
}
.line li{
  /* height: 100%; */
  white-space:nowrap;
  list-style: none;
  position: relative; 
  right: 60px;
}
.line a{
  color: #000;
  position: relative;
}
.line a:hover{
  font-size: 1.2rem;
}

/* 검색버튼 */
.magnifying p{
  width: 50px;
  height: 50px;
  font-size: 2rem;
  cursor: pointer;
  background: rgb(126, 137, 165);
  text-align: center;
  position: absolute;
  right: 17%;
  top: 25%;
}
.magnifying .fa-magnifying-glass{
  color: #fff;
  display: block;
  z-index: 999;
  position: relative;
  top: 10px;
}
.magnifying:active p{
  border: 1px solid red;
}
.magnifying .fa-xmark{
  color: #fff;
  display: none;
  position: relative;
}

/* main */
/* 이미지 슬라이더 컨트롤 */
.slider {
  width: 100%;
  height: 560px;
  overflow: hidden;
}
.slider_handle{
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content:space-between;
  z-index: 800;
  position: relative;
}
.slider_arrows{
  height: inherit;
  display: flex;
  justify-content: space-between;
}
.slider_arrow {
  width: 24px;
  height: 40px;
  display: block;
  cursor: pointer;
  align-self: center;
}
.left_arrow {
  font-size: 2rem;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 240px;
  left: 400px;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.right_arrow {
  font-size: 2rem;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 240px;
  right: 400px;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.pause{
  font-size: 1rem;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 500px;
  left: 1040px;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(91, 148, 233, 0.315);
  cursor: pointer;
}

/* 이미지 슬라이더 */
.slider_carousel{
  display: block;
  height: inherit;
  position: relative;
  z-index: 1;
  top: -100%;
}
.slider_image{
  display: none;
  justify-content: center;
  align-items: center;
  height: inherit;
  animation: fade 0.7s ease-out;
}
@keyframes fade {
from {opacity: 0.5;}
to {opacity: 1;}
}
.slider_image img{
  width: 100%;
  height: inherit;
}

/* 세로메뉴 */
.Horizontalmenu{
  position: absolute;
  right: 0;
  top: 160px;
  z-index: 900;
}
.Horizontalmenu ul li{
  background: rgb(90, 90, 90);
  width: 220px;
  height: 60px;
  list-style: none;
  padding: 15px 20px;
}
.Horizontalmenu ul li a{ 
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.Horizontalmenu ul li:hover{
  cursor: pointer;
  background: rgb(57, 135, 223);
  text-decoration: underline;
  text-shadow: 2px 2px 2px gray;
}

/* 공지사항 롤링 */
.noticebar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgb(63, 110, 163);
  position: relative;
}
.noticeline{
  width: 680px;
  height: 100%;
  display: flex;
  align-items: center;
}
.noticeline >a{
  background: rgb(69, 136, 212);
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-family: 'Noto Sans KR';
  height: 30px;
  width: 100px;
  margin-left: 1em;
}
.noticeline a:hover{
  text-decoration: underline;
}
.noticeline div{
  width:300px; 
  height:30px; 
  overflow:hidden;
}
.rolling{ 
  margin-left: 20px; 
  position:relative; 
  width:300px; 
  height:30px; 
  line-height: 30px;
}
.rolling li{
  width:100%; 
  height:30px; 
  list-style: none;
}
.rolling li a{
  color: #fff;
  text-decoration: none;
}
.rolling li a:hover{
  text-decoration: underline;
}
/* 공지사항 롤링 컨트롤 */
.note_control{
  display: flex;
  flex-direction: row;
  position: relative;
}
.note_control i{
  margin: 10px;
  cursor: pointer;
}
.note_control >.fa-pause{
  color: #fff;
}
.note_control >.fa-plus{
  color: #fff;
  font-size: 1.1rem;
}
.note_control i:active{
  border: 1px solid red;
}
/* .controller_num1{
  position: absolute;
  z-index: 1;
}
.controller_num1 >.pause{
  position: relative;
  width: 30px;
  height: 30px;
  top: 470px;
  right: 100px;
  border: 1px solid #fff;
  background-color: rgba(50, 104, 255, 0.171);
  color: #fff;  
  cursor: pointer;
}
.controller_num1 button:active{
  border: 1px solid red;
} */

/* 3박스 */
.boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 75px 0;
}
.box{
  width: 430px;
  height: 350px;
  margin: 0 10px;
}
/* first */
.noticeboard{
  position: relative;
}
.noticebutton{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
}
.btn{
  width: 50%;
  border: 1px solid rgb(202, 202, 207);
  border-bottom: 0;
  text-align: center;
  padding-top: 30px;
}
.left{
  border-right: 0;
}
.btn p{
  font-family: 'Sunflower', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(54, 53, 53);
}
.btn p:hover{
  text-decoration: underline;
  cursor: pointer;
}
.boardtext{
  width: 100%;
  height: 75%;
  border: 1px solid rgb(202, 202, 207);
  background: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice{
  width: 90%;
  height: 85%;
  animation: fade2 0.5s ease-out;
}
@keyframes fade2 {
from {opacity: 0.5;}
to {opacity: 1;}
}
.notice li{
  list-style: none;
}
.notice li p{
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  height: 20px;
  text-align: left;
  font-weight: 300;
}
.notice li span{
  float: left;
  position: relative;
  left: 90px;
} 
.notice li:hover{
  cursor: pointer;
}
.notice li:active{
  border: 1px solid red;
}
.notice p::before{
  content: '\00B7';
  padding: 10px;
}
.board ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.board ul li{
  margin: 5px 0;
}
.btnboard{
  display: none;
  position: relative;
}
.btnboard ul{
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.btnboard ul li{
  list-style: none;
  margin: 5px 0;
}
.btnboard_button{
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  display: flex;
}
.btnboard_button button{
  width: 170px;
  height: 100%;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  color: #fff;
  border: none;
}
.btnboard_button i{
  font-size: 1.1rem;
  position: relative;
  left: 90px;
}
.btnboard_button :nth-child(1){
  background: rgb(76, 142, 241);
}
.btnboard_button :nth-child(2){
  background: rgb(26, 185, 159);
}
.btnboard_button :nth-child(2) >i{
  background: rgb(26, 185, 159);
}
.btnboard_button button:last-child{
  position: absolute;
  right: 0;
}
.btnboard_button button:hover{
  text-decoration: underline;
  cursor: pointer;
  background: rgb(173, 173, 190);
}
.btnboard_button :nth-child(1):hover >i,
.btnboard_button :nth-child(2):hover >i{
  background:  rgb(173, 173, 190);
}
/* second */
.event{
  position: relative;
  border: 1px solid rgb(202, 202, 207);
}
.event_controll{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.event_title{
  width: 40%;
}
.event_title h3{
  font-family: 'Sunflower', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  word-spacing: -10px;
  color: rgb(49, 49, 49);
}
.event_button button{
  width: 40px;
  height: 40px;
  border: 1px solid rgb(202, 202, 207);
  background-color: transparent;
  margin: -1px;
}
.event_button button i{
  font-size: 30px;
  color: rgb(153, 153, 153);
}
.event_button button:hover{
  cursor: pointer;
}
.event_button button:active{
  border: 1px solid red;
}
.event_slider{ 
  width: 100%;
  height: 75%;
  display: flex;
  overflow: hidden;
}
.evensection{
  width: 100%;
  height: 220px;
}
.evensection ul{
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: row;
}
.evensection ul li{
  list-style: none;
  margin: 0 10px;
  position: relative;
}
.evensection ul li:hover p{
  text-decoration: underline;
}
.evensection ul li img{
  width: 400px;
  height: 100%;
  cursor: pointer;
}
.evensection ul li p{
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
}
/* last */
.video{
  display: flex;
  flex-direction: column;
}
.youtube{
  width: 100%;
  height: 70%;
}
iframe{
  width: 100%;
  height: 100%;
}
.videobtn{
  width: 100%;
  height: 30%;
  border-collapse: collapse;
}
.videobtn tr{
  text-decoration: none;
  background: rgb(238, 237, 237);
}
.videobtn tr td{
  width: 50%;
  padding: 0 10px;
  border: solid 1px rgb(202, 202, 207);
}
.videobtn tr td:hover{
  text-decoration: underline;
  cursor: pointer;
  background: rgb(170, 201, 229);
}

/* footer */
footer{
  position: relative;
  top: 130px;
  display: flex;
  flex-direction: column;
  height: auto;
}
.family_company{
  height: 85px;
  border-top: 1px solid rgb(139, 133, 133);
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.sitemap_slider{
  width: 1350px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.sitemap_slider h3{
  font-size: 1.3rem;
  font-weight: 100;
  top: 35%;
}
.sitemap_controll{
  margin-left: 2%;
  width: auto;
}
.sitemap_controll button{
  width: 30px;
  height: 30px;
  margin: -2px;
  border: 1px solid rgb(202, 202, 207);
  background-color: transparent;
}
.sitemap_controll button i{
  font-size: 1.4rem;
  color: rgb(153, 153, 153);
}
.sitemap_controll button i:hover{
  cursor: pointer;
}
.sitemap_controll button:active{
  border: 1px solid red;
}
.sitemap_scroll{
  width: ;
  height: 100%;
  position: relative;
  left: 5%;
  z-index: 100;
  overflow: hidden;
  border: 1px solid red;
}
.sitemap_scroll ul{
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.sitemap_scroll ul li{ 
  list-style: none;
  width: 400px;
  height: 85px;
  font-size: 30px;
  display: inline-block; 
}
.sitemap_scroll ul li img{
  width: 250px;
  height: 100%;
  cursor: pointer;
}
.sitemap_scroll ul li img:active{
  border: 1px solid red;
}
.site_info{
  min-height: 50px;
  background: rgb(73, 73, 73);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.site_info_text{
  display: flex;
  align-items: center;
  color: rgb(153, 153, 153);
  width: auto;
  flex-wrap: wrap;
  position: relative;
  left: 3%;
}
.site_info_text a{
  text-decoration: none;
  color: #fff;
  margin-left: 16px;
  margin-right: 16px;
  font-weight: 200;
}
.site_info_text :nth-child(1),
.site_info_text :nth-child(2){
  background: rgb(4, 58, 138);
}
.site_info_text a:hover{
  text-decoration: underline;
}
.site_info_btn{
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 5%;
}
.site_info_btn a{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(83, 83, 83);
  margin: 1px;
}
.site_info_btn a i{
  color: #fff;
  font-size: 30px;
}
.site_info_btn a:active{
  border: 1px solid red;
}
/*  */
.site_text{
  background: rgb(51, 50, 50);
  position: relative;
  min-height: 200px;
  display: flex;
  flex-direction: row;
}
.site_text a p{
  width: 5px;
  height: 5px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  position: relative;
  top: 15px;
  left: 145px;
  transform: rotate(45deg);
}
.site_text_logo{
  width: auto;
  margin-top: 2em;
  position: relative;
  left: 18%;
}
.site_text_address{
  position: relative;
  left: 20%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.site_text_address h4{
  color: whitesmoke;
  font-weight: 100;
}
.site_text_address p{
  color: rgb(143, 139, 139);
  font-size: 15px;
}
.site_text_address :nth-child(2){
  margin-bottom: 1em;
}
.site_text_btn{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 22%;
  justify-content: center;
  align-items: center;
}
.site_link{
  width: 180px;
  height: 40px;
}
.site_link p{
  color: #fff;
}
.site_link:hover{
  cursor: pointer;
  text-decoration: underline;
}
.site_link *{
 border-radius: 15px;
 background-color: rgb(51, 50, 50);
 cursor: pointer;
 text-decoration: underline;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}