/* 초기화 */
*{
  margin: 0; 
  padding: 0; 
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
html,body{
  width: 100%; 
  height: 100%;
  background: rgb(240, 250, 243);
  position: absolute;
}
a{
  text-decoration: none;
  color: aliceblue;
}
body::-webkit-scrollbar {
  display: none; 
}
.viewport_side{
  display: none;
}

/* 헤더 */
nav {
  width: 100%;
  height: 65px;
  padding: 10px;
  position: fixed;
  background: rgb(95, 131, 54);
  z-index: 100;
}
nav::after {
  content: "";
  display: block;
  clear: both;
}
.toggle-wrap {
  padding: 10px;
  position: relative;
  cursor: pointer;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.toggle-bar {
  width: 38px;
  margin: 10px 0;
  position: relative;
  border-top: 6px solid aliceblue;
  display: block;
}
.toggle-bar::before,
.toggle-bar::after {
  content: "";
  display: block;
  background:aliceblue;
  height: 6px;
  width: 38px;
  position: absolute;
  top: -16px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: 13%;
  -webkit-transform-origin: 13%;
  transform-origin: 13%;
}
.toggle-bar::after {
  top: 4px;
}
.toggle-wrap.active .toggle-bar {
  border-top: 6px solid transparent;
}
.toggle-wrap.active .toggle-bar::before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.toggle-wrap.active .toggle-bar::after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.logo{
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 15%;
}
/* 검색창 */
.search{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 0;
  left: 35%;
}
.search input{
  border-radius: 30px;
  width: 20vw;
  height: 45px;
  background-color: rgb(255, 255, 255);
  padding-left: 30px;
  padding-right: 70px;
  border: none;
}
input{
  outline-color: gray;
}
input::placeholder{
  font-size: 1rem;
}
.search i{
  position: absolute;
  top: 20%;
  left: 18%;
  font-size: 2rem;
  color:  gray;
  cursor: pointer;
}
/* 가입 */
.join{
  position: absolute;
  top: 30%;
  left: 78%;
}
.join a{
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 10px;
}
.join a:hover{
  transform: scale(1.1);
}
/* 토글 슬라이더 메뉴 */
.sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #383838;
  left: -300px;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  padding-top: 70px;
  transition: all 0.4s ease;
  z-index: 90;
  border-right: 3px solid rgb(1, 116, 218);
}
.sidebar li{
  border-bottom: 1px solid #5e5d5d;
}
.viewport_join{
  display: none;
}
.sidebar.active {
  left: 0;
}
.sidebar a{
  display: block;
  padding: 1.2em;
  text-decoration: none;
  font-size: 1rem;
  color: aliceblue;
  margin-left: 1em;
}
.sidebar a:hover{
  transform: scale(1.1);
}

/* body */
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 음원차트 슬라이더 */
.chart_rollig{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
  overflow: hidden;
  cursor: pointer;
  top: 66px;
  position: relative;
  background: rgb(95, 131, 54);
}
.chart_rollig ul{
  height: 20px;
  list-style: none;
}
.chart_rollig ul li{
  width: 300px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}
.chart_rollig li a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
  width: 400px;
  padding: 2px 0;
}
.chart_rollig >a{
  text-decoration: none;
  font-size: 20px;
  padding: 0 20px; 
  color: whitesmoke;
}
.chart_rollig >a:hover{
  transform: scale(1.1);
}
/* 공지 */
.news_board{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 60vh;
  margin: 250px 0 100px 0;
}
.board_slider{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.801), 0 0 40px rgba(0, 0, 0, 0.1);
}
.text_slider{
  width: 50%;
  height: 100%;
  background: linear-gradient(rgb(48, 49, 45), rgba(95, 131, 54, 0.733));
}
.text_slider ul{
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.text_slider ul li{
  width: 100%;
  height: 100%;
}
.text_slider ul li h1{
  color: aliceblue;
  width: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2.6rem;
  text-align: center;
}
.text_slider ul li h3{
  color: aliceblue;
  margin: 1em;
  width: auto;
  font: 300 1.5rem 'Noto Sans KR';
  line-height: 50px;
}
.image_slider{
  width: 50%;
  height: 100%;
}
.image_slider ul{
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
}
.image_slider ul li{
  width: 100%;
  height: 100%;
}
.image_slider img{
  width: 100%;
  height: 100%;
}
.news_board button{
  width: 140px;
  border: transparent;
  background: #303030;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 10px 0;
  cursor: pointer;
  margin: 15px 0;
  color: aliceblue;
  transition: all .2s ease-in-out;
  box-shadow: 5px 5px 5px  rgba(48, 46, 46, 0.541);
}
.news_board button:hover{
  transition: all .2s ease-in-out;
  background: azure;
  color: #303030;
  border: 1px solid #303030;
}

/* 새앨범 보드 */
.new_album{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70vw;
  height: 70vh;
}
.new_album_text h1{
  font-size: 6vw;
  color: rgb(1, 116, 218);
  font-family: 'Josefin Sans', sans-serif;
}
.album_list{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  list-style: none;
}
.album_list li{
  width: 25%;
  height: 100%;
  transform: scale(1);
  overflow: hidden;
  border-radius: 0 70px 0 0;
  margin: 0 10px;
  box-shadow: 5px 5px 5px  rgba(48, 46, 46, 0.541);
}
.album_list img{
  width: 100%;
  height: 100%;
  transition: all 0.6s ease-in-out;
  filter: saturate(70%);
  box-shadow: #646464;
}
.album_list li:hover img{
  transform: scale(1.2);
  transition: all 0.3s ease-in-out; 
}
/* album inner */
.album_info{
  width: 100%;
  height: 110%;
  background:rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10; 
  transition: all 0.6s ease-in-out;
  border-radius: 0 70px 0 0;
  position: absolute;
  transform: translateY(0px);
}
.album_list li:hover .album_info{
  opacity: 1;
  transform: translateY(-520px);
}
.inner h2{
  color: aliceblue;
  font-size: 2vw;
  margin: 20px 0;
  text-align: center;
}
.inner >p{
  color: rgb(170, 240, 90);
  padding: 0 30px;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
}
.inner_text{
  margin: 10px 0;
}
.inner_text >p{
  color: aliceblue;
  font-family: 'Noto Sans KR', sans-serif;
  width: 300px;
  position: relative;
  left: 10%;
  text-align: start;
  font-size: 1.1rem;
}
.play_icon{
  color: aliceblue;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 30px 0;
  cursor: pointer;
}
.play_icon i:hover{
  color: rgb(170, 240, 90);
  transform: scale(1.1);
}
.arrow_box{
  position: absolute;
  width: 120px;
  padding: 10px 0;
  bottom: 10%;
  left: 34%;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #333;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  transition: all .5s ease-in-out;
}
.arrow_box:after{
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}
.play_icon i:hover + p.arrow_box{
  transition: all .5s ease-in-out;
  position: absolute;
  opacity: 1;
  bottom: 15%;
}

/* 비디오 보드 */
.promo{
  width: 80vw;
  height: 60vh;
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
}
video{
  width: 80%;
  height: 100%;
}
.video_text{
  width: 82%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  /* box-shadow: 5px 5px 5px rgba(48, 46, 46, 0.541); */
}
.video_text h1{
  font-size: 4vw;
  color: rgb(1, 116, 218);
  margin-bottom: 10px;
  text-align: center;
}
.video_text p{
  color: #353333;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}
.video_text :nth-child(3){
  font-weight: normal;
  font-size: 1.7vw;
}
.video_text button{
  width: 170px;
  padding: 10px 0;
  margin: 30px 0;
  font-size: 1vw;
  border-radius: 50px;
  color: aliceblue;
  cursor: pointer;
  border: none;
  transition: all .2s ease-in-out;
  background: rgb(1, 116, 218);
}
.video_text button:hover{
  background: #353333;
  color: #fff;
  transition: all .2s ease-in-out;
}

/* hot week */
.hot_this_week{
  width: 80vw;
  height: 80vh;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hot_this_week h1{
  font-size: 6vw;
  color: rgb(95, 131, 54);
  text-align: end;
}
.hot_this_week button{
  font-size: 1.5vw;
  width: 200px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid rgb(95, 131, 54);
  background: 0;
  padding: 10px 0;
  margin: 10px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  color: rgb(95, 131, 54);
}
.hot_this_week button:hover{
  transition: all .2s ease-in-out;
  background: #414141;
  border: none;
  color: aliceblue;
}
.hot_list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: 70%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.hot_list ul {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.item {
  box-sizing: border-box;
  flex-grow: 1;
  transition: width 0.4s ease;
  width: 0;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hot_list ul .item:hover {
  width: 25%;
}
.item img {
  width: 400px;
  height: 110%;
}
.hot_list ul .item:hover img{
  width: 100%;
  filter: saturate(1%);
}
.hot_list ul .item .text {
  position: absolute;
  font-size: 1.2vw;
  font-family: sans-serif;
  color: aliceblue;
  opacity: 0;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 90%;
  background-color: rgba(80, 134, 36, 0.5);
  text-align: center;
  transition-property: opacity, bottom;
  transition-duration: 0.1s;
  transition-delay: 0;
  transition-timing-function: linear, ease;
}
.hot_list ul .item:hover .text {
  opacity: 1;
  bottom: 10%;
  transition-duration: 0.3s, 0.7s;
  transition-delay: 0.4s, 0.2s;
  font-family: 'Noto Sans KR', sans-serif;
}
.hot_list ul .item:before {
  content: "";
  position: absolute;
  top: 6px;
  right: 3px;
  bottom: 6px;
  left: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

/* footer */
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 200px;
  background: #303030;
  border-top: 5px solid rgb(1, 116, 218);
}
.bottom_menu{
  display: flex;
  flex-direction: row;
  margin: 4em;
}
.bottom{
  width: 300px;
  height: auto;
  border-left: 1px solid rgb(1, 116, 218);
}
.bottom ul li{
  list-style: none;
  padding-left: 20px;
  line-height: 35px;
}
.bottom a{
  font-size: 1.2rem;
  display: inline-block;
  position: relative;
}
.bottom a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  top: 100%;
  left: 0;
  background-color: rgb(1, 116, 218);
  transform-origin: left;
  transition: transform 0.25s ease-out;
}
.bottom a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.bottom_text{
  border-top: 1px solid rgb(1, 116, 218);
  border-bottom: 1px solid rgb(1, 116, 218);
  margin: 2em;
  padding: 1em;
}
.bottom_text p{
  font-size: 1rem;
  color: rgb(203, 212, 219);
  line-height: 30px;
}
footer img{
  width: 170px;
  height: 100px;
}