.hot_list ul {
  display: flex;
  width: 100%;
  height: 70%;
  box-sizing: border-box;
  $items_hover_width: 50%;

  .item {
    box-sizing: border-box;
    flex-grow: 1;
    transition: width .4s ease;
    width: 0;
    &:hover {
      width: $items_hover_width;
    }
  }
}

.hot_list ul .item {
  position: relative;
  overflow: hidden;
  .text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0%;
    width: 300px;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
    margin-left: auto;
    margin-right: auto;
    background: rgba(127,127,127,0.5);
    transition-property: opacity, bottom;
    transition-duration: .1s;
    transition-delay: 0;
    transition-timing-function: linear, ease;
    opacity: 0;
  }

  &:hover {
    .text {
      bottom: 10%;
      transition-duration: .3s, .7s;
      transition-delay: .4s, .2s;
      opacity: 1;
    }
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 6px;
    right: 3px;
    bottom: 6px;
    left: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
  }

  
}

