@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
/* 초기화 */
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
html,body {
  width: 100%; 
  height: 100%;
  background: rgb(252, 252, 252);
  position: absolute;
}
a {
  text-decoration: none;
  color: aliceblue;
}
body::-webkit-scrollbar {
  display: none; 
}
/* header */
nav {
  position: fixed;
  width: 100%;
  height: 65px;
  padding: 10px;
  background: rgb(95, 131, 54);
  z-index: 100;
}
nav::after {
  content: "";
  display: block;
}
.toggle-wrap {
  position: relative;
  padding: 10px;
  cursor: pointer;
  float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  user-select: none;
}
.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.toggle-bar {
  display: block;
  position: relative;
  width: 38px;
  margin: 10px 0;
  border-top: 6px solid aliceblue;
}
.toggle-bar::before,
.toggle-bar::after {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  width: 38px;
  height: 6px;
  background:aliceblue;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  transform: rotate(0deg);
    -webkit-transform-origin: 13%;
    -moz-transform-origin: 13%;
  transform-origin: 13%;
}
.toggle-bar::after {
  top: 4px;
}
.toggle-wrap.active .toggle-bar {
  border-top: 6px solid transparent;
}
.toggle-wrap.active .toggle-bar::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.toggle-wrap.active .toggle-bar::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.logo {
  position: absolute;
  top: 0;
  left: 15%;
  font-size: 2.5rem;
  font-weight: bold;
}
/* 검색창 */
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 0;
  left: 35%;
}
.search input {
  width: 20vw;
  height: 45px;
  padding-left: 30px;
  padding-right: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: transparent;
}
input {
  outline-color: gray;
}
input::placeholder {
  font-size: 1rem;
}
.search i {
  position: absolute;
  top: 20%;
  left: 18%;
  font-size: 2rem;
  color:  gray;
  cursor: pointer;
}
/* 가입 */
.join {
  position: absolute;
  top: 30%;
  left: 78%;
}
.join a {
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 10px;
}
.join a:hover {
  transform: scale(1.1);
}
/* 토글 슬라이더 메뉴 */
.sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  left: -300px;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  padding-top: 70px;
  z-index: 90;
  border-right: 3px solid rgb(95, 131, 54);
  background: #383838;
    -webkit-transition: all 0.4s ease; 
    -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.sidebar li {
  border-bottom: 1px solid #5e5d5d;
}
.viewport_join {
  display: none;
}
.sidebar.active {
  left: 0;
}
.sidebar a {
  display: block;
  font-size: 1rem;
  padding: 1.2em;
  margin-left: 1em;
  text-decoration: none;
  color: aliceblue;
}
.sidebar a:hover {
  transform: scale(1.1);
}

/* body */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 음원차트 슬라이더 */
.chart_rollig {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 30%;
  top: 66px;
  overflow: hidden;
  cursor: pointer;
  background: rgb(95, 131, 54);
}
.chart_rollig ul {
  height: 20px;
  list-style: none;
}
.chart_rollig ul li {
  width: 300px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}
.chart_rollig li a {
  width: 400px;
  font-size: 1.2rem;
  padding: 2px 0;
  text-decoration: none;
  color: whitesmoke;
}
.chart_rollig >a {
  font-size: 20px;
  padding: 0 20px; 
  color: whitesmoke;
  text-decoration: none;
}
.chart_rollig >a:hover {
  transform: scale(1.1);
}
/* 공지 */
.news_board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 60vh;
  margin: 250px 0 100px 0;
}
.board_slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 90%;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.801), 0 0 40px rgba(0, 0, 0, 0.1);
}
.text_slider {
  width: 50%;
  height: 100%;
  background: rgb(77, 77, 77);
}
.text_slider ul {
  width: 100%;
  height: 100%;
  padding: 20px;
  list-style: none;
}
.text_slider ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.text_slider ul li h1 {
  font-family: 'IBM Plex Sans KR', sans-serif;
  width: auto;
  font-size: 2vw;
  padding: 5px 30px;
  color: aliceblue;
}
.text_slider ul li p {
  font-size: 1vw;
  padding: 10px 30px;
  line-height: 30px;
  color: aliceblue;
}
.image_slider {
  width: 50%;
  height: 100%;
}
.image_slider ul {
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
}
.image_slider ul li {
  width: 100%;
  height: 100%;
}
.image_slider img {
  width: 100%;
  height: 100%;
}
.news_board button {
  width: 140px;
  font-size: 1.2rem;
  border: transparent;
  border-radius: 20px;
  padding: 10px 0;
  margin: 15px 0;
  color: aliceblue;
  background: #303030;
  cursor: pointer;
  box-shadow: 5px 5px 5px  rgba(48, 46, 46, 0.541);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.news_board button:hover {
  color: #303030;
  border: 1px solid #303030;
  background: azure;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* 새앨범 보드 */
.new_album {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70vw;
  height: 70vh;
}
.new_album_text h1 {
  font-size: 6vw;
  color: rgb(1, 116, 218);
  font-family: 'Josefin Sans', sans-serif;
}
.album_list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 70%;
  list-style: none;
}
.album_list li {
  width: 25%;
  height: 100%;
  margin: 0 10px;
  border-radius: 0 70px 0 0;
  transform: scale(1);
  overflow: hidden;
  box-shadow: 5px 5px 5px  rgba(48, 46, 46, 0.541);
}
.album_list img {
  width: 100%;
  height: 100%;
  filter: saturate(70%);
  box-shadow: #646464;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.album_list li:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out; 
}
/* album inner */
.album_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 110%;
  border-radius: 0 70px 0 0;
  z-index: 10; 
  background:rgba(0,0,0,0.6);
  transform: translateY(0px);
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.album_list li:hover .album_info {
  opacity: 1;
  transform: translateY(-520px);
}
.inner h2 {
  color: aliceblue;
  font-size: 2vw;
  margin: 20px 0;
  text-align: center;
}
.inner >p {
  color: rgb(170, 240, 90);
  padding: 0 30px;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
}
.inner_text {
  margin: 10px 0;
}
.inner_text >p {
  position: relative;
  width: 300px;
  left: 10%;
  font-size: 1.1rem;
  text-align: start;
  color: aliceblue;
}
.play_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: aliceblue;
  font-size: 3rem;
  margin: 30px 0;
  cursor: pointer;
}
.play_icon i:hover {
  color: rgb(170, 240, 90);
  transform: scale(1.1);
}
.arrow_box {
  position: absolute;
  width: 120px;
  left: 34%;
  bottom: 10%;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  background: #333;
  color: #fff;
  opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}
.play_icon i:hover + p.arrow_box {
  position: absolute;
  bottom: 15%;
  opacity: 1;  
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/* 비디오 보드 */
.promo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70vw;
  height: 60vh;
  margin: 100px 0;
  list-style: none;
}
video {
  width: 75%;
  height: 100%;
  object-fit: fill;
}
.video_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 100%;
  align-items: center;
}
.video_text h1 {
  font-size: 4vw;
  color: rgb(1, 116, 218);
  margin-bottom: 10px;
  text-align: center;
}
.video_text p {
  color: #353333;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}
.video_text :nth-child(3) {
  font-weight: normal;
  font-size: 1.7vw;
}
.video_text button {
  width: 170px;
  padding: 10px 0;
  margin: 30px 0;
  font-size: 1vw;
  border-radius: 50px;
  color: aliceblue;
  cursor: pointer;
  border: none;
  background: rgb(1, 116, 218);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.video_text button:hover {
  background: #353333;
  color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* hot week */
.hot_this_week {
  width: 80vw;
  height: 80vh;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hot_this_week h1 {
  font-size: 6vw;
  color: rgb(95, 131, 54);
  text-align: end;
}
.hot_this_week button {
  width: 200px;
  font-size: 1.5vw;
  text-align: center;
  padding: 10px 0;
  margin: 10px;
  border-radius: 40px;
  border: 1px solid rgb(95, 131, 54);
  background: 0;
  cursor: pointer;
  color: rgb(95, 131, 54);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.hot_this_week button:hover {
  transition: all .2s ease-in-out;
  background: #414141;
  border: none;
  color: aliceblue;
}
.hot_list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: sticky;
  width: 100%;
  height: 70%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background: rgb(43, 43, 43);
}
.hot_list ul {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: row;
}
.item {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 0;
  padding: 10px;
  overflow: hidden;
  list-style: none;
  cursor: pointer;
    -webkit-transition: width 0.4s ease-out;
    -moz-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out;
}
.hot_list ul .item:hover {
  width: 25%;
}
.item img {
  width: 400px;
  height: 110%;
}
.hot_list ul .item:hover img {
  width: 100%;
  filter: saturate(1%);
}
.hot_list ul .item .text {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  font-size: 1.2vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;
  opacity: 0;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  background: rgba(80, 134, 36, 0.5);
    -webkit-transition-property: opacity, bottom;
    -moz-transition-property: opacity, bottom;
  transition-property: opacity, bottom;
  transition-duration: 0.1s;
  transition-delay: 0;
  transition-timing-function: linear, ease;
}
.hot_list ul .item:hover .text {
  opacity: 1;
  bottom: 10%;
    -webkit-transition-duration: 0.3s, 0.7s;
    -moz-transition-duration: 0.3s, 0.7s;
  transition-duration: 0.3s, 0.7s;
  transition-delay: 0.4s, 0.2s;
  transition-delay: 0.4s, 0.2s;
  transition-delay: 0.4s, 0.2s;
}
.hot_list ul .item:before {
  content: "";
  position: absolute;
  top: 6px;
  bottom: 6px;
  right: 3px;
  left: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}
/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 200px;
  background: #303030;
}
.bottom_menu {
  display: flex;
  flex-direction: row;
  margin: 4em;
}
.bottom {
  width: 300px;
  height: auto;
  border-left: 1px solid rgb(95, 131, 54);
}
.bottom ul li {
  list-style: none;
  padding-left: 20px;
  line-height: 35px;
}
.bottom a {
  font-size: 1.2rem;
  display: inline-block;
  position: relative;
}
.bottom a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  top: 100%;
  left: 0;
  background-color: rgb(95, 131, 54);
  transform-origin: left;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.bottom a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.bottom_text {
  border-top: 1px solid rgb(95, 131, 54);
  border-bottom: 1px solid rgb(95, 131, 54);
  margin: 2em;
  padding: 1em;
}
.bottom_text p {
  font-size: 1rem;
  color: rgb(203, 212, 219);
  line-height: 30px;
}
footer img {
  width: 170px;
  height: 100px;
}