*{
  margin: 0; 
  padding: 0; 
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html,body{
  width: 100%; 
  height: 100%; 
}
body::-webkit-scrollbar { 
  display: none;
}   
.viewport_side{
  display: none;
}

/* 헤더 */
header{
  width: 100%;
  height: 80px;
  background: rgb(12, 145, 34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:fixed;
  z-index: 900;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70%;
}
/* nav */
.slide_down{
  text-align: center;
}
.slide_down ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide_down ul li{
  position: relative;
  float: left;
}
.slide_down ul li{
  margin-left: 1px;
}
.slide_down ul li a{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  font-size: 50px;
  font-weight: bold;
}
.slide_down ul li ul li >a{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 11px 20px;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  font-size: 1vw;
}
.slide_down ul li a:hover{
  background: #646464;
}
.slide_down ul li >ul{
  display: none;
  position: absolute;
  width: 150px;
  top: 89%;
  left: 5%;
  z-index: 1;
  text-align: left;
}
.slide_down ul li ul{
  margin-top: 14px;
}
.slide_down ul li > ul li{
  float: none;
  margin: 0;
}
.slide_down ul li > ul li a{
  display: block;
  /* border-top: 1px solid rgb(231, 230, 233); */
  text-align: center;
}
.slide_down ul li > ul li a:hover{
  background: rgb(40, 31, 192);
}
.slide_down ul li:hover a, .nav ul li.active a{
  background: rgb(12, 145, 34);
}
.slide_down ul li.active{
  pointer-events: none;
}
/* 검색창 */
.fa-bars{
  display: none;
}
.search{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search a{
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
.search_bar{
  display: flex;
  align-items: center;
}
input::placeholder{
  font-size: 1rem;
}
.search input{
  border-radius: 30px;
  width: 20vw;
  height: 50px;
  background-color: rgb(255, 255, 255);
  padding-left: 30px;
  padding-right: 70px;
  border: none;
}
.search_bar a{
  color: rgb(12, 145, 34);
  font-size: 2rem;
  z-index: 100;
  position: relative;
  right: 60px;
  background-color: #fff;
}
.search_bar a:hover{
  cursor: pointer;
  border: 1px solid gray;
}
input{
outline-color: gray;
}
.hambeger_menu{
  display: none;
}
/* 가입 */
.join{
  display: flex;
  align-items: center;
  position: relative;
}
.join a{
  color: #fff;
  font: bold 20px normal;
  text-decoration: none;
  margin: 10px;
}
.join a:hover{
  color: rgb(40, 31, 192);
  font-weight: bold;
}

/* 음원차트 슬라이더 */
.chart_rollig{
  display: flex;
  justify-content: center;
  width: 100%;
	height: 30px; 
  margin-top: 110px;
  overflow: hidden;
  position: fixed;
  background: rgb(12, 145, 34);
}
.chart_rollig ul{
  height: 20px;
  list-style: none;
  display: inline-block;
}
.chart_rollig ul li{
  width: 300px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}
.chart_rollig li a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  width: 400px;
}
.chart_rollig >a{
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  padding: 0 20px; 
  color: whitesmoke;
}
.chart_rollig >a:hover{
  transform: scale(1.1);
}
/* 메인 */
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news_board{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 60vh;
  margin: 200px 0;
  border: 1px solid red;
}
.board_slider{
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}
/* 글 */
.text_slider{
  width: 50%;
  height: 100%;
  border: 1px solid red;
}
.text_slider ul{
  list-style: none;
  width: 100%;
  height: 100%;
}
.text_slider ul li{
  border:  1px solid black;
  width: 100%;
  height: 100%;
}
.text_slider ul li h1{
  color: rgb(0, 0, 0);
  width: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2vw;
  text-align: center;
}
.text_slider ul li h3{
  color: rgb(80, 73, 73);
  margin: 1em;
  width: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.15vw;
  line-height: 50px;
}
/* 이미지 */
.image_slider{
  width: 50%;
  height: 100%;
  border: 1px solid rgb(5, 5, 5);
}
.image_slider ul{
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
}
.image_slider ul li{
  width: 100%;
  height: 100%;
}
.image_slider img{
  width: 100%;
  height: 100%;
}
/* 버튼 */
.news_board button{
  width: 140px;
  border: 2px solid #000;
  background: transparent;
  color: #000;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 10px 0;
  cursor: pointer;
  margin: 15px 0;
}
.news_board button:hover{
  transition: all .5s ease-in-out;
  background: #000;
  color: #fff;
}

/* 새앨범 보드 */
.new_album{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70vw;
  height: 70vh;
}
.new_album_text{
  width: 100%;
  height: 20%;
  border: 1px solid red;
}
.new_album_text h1{
  font-size: 6vw;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 3px rgb(40, 31, 192);
  font-family: 'Josefin Sans', sans-serif;
}
.new_album:hover h1{
  color: rgb(40, 31, 192);
}
/* 새 앨범 */
.album_list{
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  border: 1px solid black;
  padding: 20px;
}
.album_list li{
  width: 25%;
  height: 100%;
  transform: scale(1);
  overflow: hidden;
  border-radius: 0 70px 0 0;
  margin: 0 10px;
  filter: drop-shadow(5px 5px 5px  rgb(95, 93, 93));
}
.album_list img{
  width: 110%;
  height: 100%;
  transition: all 0.6s ease-in-out;
  filter: saturate(70%);
  box-shadow: #646464;
}
.album_list li:hover img{
  transform: scale(1.2);
  transition: all 0.3s ease-in-out; 
}
/* 앨범 정보 */
.album_info{
  width: 100%;
  height: 110%;
  background:rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10; 
  transition: all 0.5s ease-in-out;
  border-radius: 0 70px 0 0;
  position: absolute;
}
.album_info h2{
  color: #fff;
  font-size: 2vw;
  border: 1px solid red;
  margin: 50px 0;
}
.album_info >p{
  color: rgb(13, 196, 95);
  padding: 0 30px;
  font-size: 1vw;
  font-weight: bold;
  border: 1px solid red;
}
.album_list li:hover .album_info{
  opacity: 1;
  top: 0;
}
.inner_text{
  border: 1px solid red;
  margin: 10px 0;
}
.inner_text >p{
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  width: 300px;
  position: relative;
  left: 10%;
  text-align: start;
  font-size: 1.1rem;
}
.play_icon{
  color: #fff;
  font-size: 3rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}
.play_icon i{
  padding: 0 20px;
  cursor: pointer;
}
.play_icon i:hover{
  color: rgb(9, 218, 19);
  transform: scale(1.1);
}
.icon_text{
  display: flex;
}
.icon_text p{
  width: 70px;
  height: 50px;
  border-radius: 10px;
}
.icon_text a{
  text-decoration: none;
  color: #fff;
}
.arrow_box{
  position: absolute;
  width: 120px;
  padding: 10px 0;
  bottom: 10%;
  left: 34%;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #333;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  transition: all .5s ease-in-out;
}
.arrow_box:after{
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}
.play_icon i:hover + p.arrow_box{
  transition: all .5s ease-in-out;
  position: absolute;
  opacity: 1;
  bottom: 20%;
}

/* 비디오 보드 */
.promo{
  width: 80vw;
  height: 60vh;
  margin: 250px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
}
video{
  width: 80%;
  height: 100%;
}
.video_text{
  width: 82%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.video_text h1{
  font-size: 4vw;
  color: rgb(40, 31, 192);
  margin-bottom: 10px;
  text-align: center;
}
.promo:hover .video_text h1{
  color: rgba(39, 31, 192, 0);
  -webkit-text-stroke: 3px rgb(9, 218, 19);
}
.video_text p{
  color: #000;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}
.video_text :nth-child(3){
  font-weight: normal;
  font-size: 1.7vw;
}
.video_text button{
  width: 170px;
  padding: 10px 0;
  margin: 30px 0;
  font-size: 1vw;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  border: 3px solid black;
  background: transparent;
  transition: all .5s ease-in-out;
}
.video_text button:hover{
  border: 3px solid rgb(12, 185, 21);
  background: rgb(12, 185, 21);
  color: #fff;
  transition: all .5s ease-in-out;
}

/* 위크 앨범 */
.hot_this_week{
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid rgb(5, 5, 5);
}
.hot_this_week h1{
  font-size: 6vw;
  width: 100%;
  height: 20%;
  color: rgb(12, 185, 21);
  text-align: end;
}
.hot_this_week button{
  font-size: 1.5vw;
  width: 200px;
  height: 10%;
  text-align: center;
  border-radius: 30px;
  border: 1px solid rgb(0, 0, 0);
  background: 0;
  margin: 20px 0;
  padding: 10px 0;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.hot_this_week button:hover{
  transition: all .5s ease-in-out;
  border: 1px solid rgb(25, 18, 158);
  background: rgb(25, 18, 158);
  color: #fff;
}




.hot_list {
  width: 100%;
  min-height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.grow {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}
.grow .item {
  box-sizing: border-box;
  flex-grow: 1;
  transition: width 0.4s ease;
  width: 0;
}
.grow .item:hover {
  width: 20%;
  filter: saturate(1%);
  cursor: pointer;
}
.item img {
  width: 100%;
  height: 100%;
}
.grow .item {
  position: relative;
  overflow: hidden;
}
.text {
  position: absolute;
  font-size: 1vw;
  padding: 10px;
  font-weight: 700;
  font-family: sans-serif;
  color: rgb(255, 253, 253);
  opacity: 0;
  text-shadow: 2px 2px 0 rgba(19, 19, 19, 0.5);
  bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 300px;
  background: rgba(58, 56, 56, 0.836);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  text-align: center;
  border-radius: 10px;
  transition-property: opacity, bottom;
  transition-duration: 0.1s;
  transition-delay: 0;
  transition-timing-function: linear, ease;
}
.grow .item:hover .text {
  opacity: 1;
  bottom: 10%;
  transition-duration: 0.3s, 0.7s;
  transition-delay: 0.4s, 0.2s;
}
.grow .item:before {
  content: "";
  position: absolute;
  top: 6px;
  bottom: 6px;
  right: 3px;
  left: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

/* 바닥 */
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 180px 0;
  width: 100%;
  min-height: 200px;
  background: rgb(41, 38, 36);
  text-align: center;
}
footer a:hover{
  text-decoration: underline;
  color: #fff;
}
.bottom_menu{
  width: 70%;
  padding-bottom: 1em;
  color: rgb(224, 215, 214);
  border: 1px solid red;
}
.bottom_menu a{
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
  color: rgb(161, 161, 161);
}
.bottom_text{
  width: 70%;
  border: 1px solid red;
  margin-top: 1em;
  color: rgb(161, 161, 161);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
