@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif; 
}  

html, body {
  width: 100%; 
  height: 100%;
}

a {
  text-decoration: none;
  list-style: none;
}

/* header */
header {
  position: fixed;
  width: 100%;
  height: 130px;
  z-index: 999;
}

.weatherbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 30%;
  color: aliceblue;
  background: rgb(48, 47, 47);
}

.weather { 
  display: flex;
  font-size: .9rem;
  word-spacing: 1px;
}

#dates {
  font-size: .9rem;
  color: aliceblue;
}

.home-menu a {
  font-size: .8rem;
  color: aliceblue;
  padding: 0 10px;
}

.home-menu a:hover {
  text-decoration: underline;
}

/* 반응형 css */
.toggle-wrap{
  display: none;
}
aside{
  display: none;
}

/* haeder 로고 이미지 */
.white-logo {
  position: absolute;
  top: 40%;
  left: 17%;
  width: auto;
  height: auto;
  z-index: 100;
}

.white-logo img {
  width: 110%;
}

/* search btn */
.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  right: 18%;
  width: 50px;
  height: 50px;
  background: rgb(126, 137, 165);
  cursor: pointer;
  z-index: 100;
}

.search-btn i {
  font-size: 2rem;
  color: #fff;
}

.search-btn:active {
  border: 1px solid black;
}

/* 검색창 */
.search-bar {
  display: none;
  position: absolute;
  top: 120px;
  width: 100%;
  height: 100px;
  text-align: center;
  background: #fff;
}

.search-bar input {
  position: relative;
  top: 20%;
  width: 70%;
  height: 50%;
  padding: 0 20px;
  border: transparent;
  border-bottom: 3px solid rgb(37, 71, 184);
}

.search-bar input::placeholder {
  font-size: 1.3rem;
  color: #b1a9a9;
}

.search-bar i {
  font-size: 2em;
  color: rgb(37, 71, 184);
  position: absolute;
  top: 30%;
  right: 16%;
}

/* drop down meun */
.drop-down {
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(196, 189, 189);
  overflow: hidden; 
}

nav {
  position: relative;
  width: 45vw;
  height: 80px;
  margin: 0 45em;  
  background: #fff;
}

nav > ul {
  opacity:1; 
}

nav > ul > li {
  position: relative; 
  width: auto;
  height: auto;
  float: left; 
  list-style: none;
  text-align: center;
  margin: 25px 20px;
}

nav > ul img {
  position: absolute;
  top: 65px;
  right: 250px;
  height: 450px;
}

nav > ul > li:hover ul {
  opacity: 1; 
}

nav > ul >li > a {
  position: relative;
  font-size: 1.2vw;
  font-weight: bold;
  color: #000;
  margin: 50px;
}

.line {
  position: absolute; 
  width: 100%; 
  height: 100%;
  line-height: 35px;
  margin-top: 35px;
  opacity:1; 
}

.line li {
  position: relative; 
  right: 60px;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  list-style: none;
  margin: 0 70px;
}

.line a {
  color: #000;
}

.line li:hover {
  transform:scale(1.2);
}

/* main */
/* 이미지 슬라이더 */ 
main {
  position: relative;
  top: 100px;
}

#slides {
  position: relative;
  height: 150px;
  width: 100%;
  height: 560px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  z-index: 1;
}

.slide img {
  width: 100%;
  height: 100%;
}

.showing {
  opacity: 1;
  z-index: 2;
}

/* slider handle */
.slider_handle {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  height: inherit;
  z-index: 800;
}

.slider_handle button {
  width: 70px;
  height: 70px;
  border: 1px solid white;
  background: #637adf2f;
  cursor: pointer;
}

.slider_handle button i {
  font-size: 2rem;
  color: white;
}

.slider_handle_left {
  position: absolute;
  bottom: 260px;
  left: 18%;
}

.slider_handle_right {
  position: absolute;
  bottom: 260px;
  left: 79%;
}

#slides-view-port {
  display: none;
}

/* vertical meun */
.vertical-menu {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 900;
}

.vertical-menu ul li {
  width: 220px;
  height: 60px;
  list-style: none;
  padding: 15px 20px;
  background: rgb(90, 90, 90);
}

.vertical-menu ul li a { 
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

.vertical-menu ul li:hover {
  text-decoration: underline;
  text-shadow: 2px 2px 2px gray;
  background: rgb(57, 135, 223);
  cursor: pointer;
}

/* 공지 롤링 바 */
.notice-rolling {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgb(63, 110, 163);
}

.notice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 680px;
  height: 100%;
}

.notice > a {
  font-family: 'Noto Sans KR';
  font-size: 1rem;
  text-align: center;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  background: rgb(69, 136, 212);
}

.notice a:hover {
  text-decoration: underline;
}

.rolling2,
.rolling {
  float:left;
  width:400px; 
  height: 26px;
  font-size:12px;
  padding:0 5px;
  overflow:hidden; 
}

#ticker2,
#ticker {
  float:left;
}

#ticker2 li {
  padding: 1px 0;
}

.rolling ul,
.rolling li,
.rolling2 ul,
.rolling3 li {
  width: 100%;
  height: 30px;
  list-style:none;
  margin:0;
  padding:0; 
}

.rolling2 li a, 
.rolling li a {
  display:block; 
  height:20px; 
  font-size: 1rem;
  text-decoration:none;
  line-height:25px; 
  color:#fff;
}

.note_control button {
  width: 30px;
  height: 30px;
  background: transparent;
  border: transparent;
  cursor: pointer;
}

.note_control button i {
  font-size: 1.4rem;
  color: #fff;
}

/* 3 박스 */
.three-boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 75px 0;
}

/* box 1 */
.notice-board {
  width: 430px;
  height: 350px;
  margin: 0 10px;
  border: 1px solid rgb(202, 202, 207);
}

.notice_button {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
}

.list_btn_left,
.list_btn_right {
  width: 50%;
  text-align: center;
  border-bottom: 0;
  padding-top: 30px;
}

.list_btn_left p,
.list_btn_right p {
  font-family: 'Sunflower', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(54, 53, 53);
}

.list_btn_left p:hover,
.list_btn_right p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.list_btn_right {
  border-left: 1px solid rgb(202, 202, 207);
}

.board-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  border-top: 1px solid rgb(202, 202, 207);
  background: rgb(241, 241, 241);

}

.board_box {
  position: relative;
  width: 90%;
  height: 85%;
  -webkit-animation: fade 0.5s ease-out;
  animation: fade 0.5s ease-out;
}

@keyframes fade {
from { opacity: 0.5; }
to { opacity: 1; }
}

.board_box li {
  list-style: none;
}

.board_box li p {
  float: left;
  width: 12vw;
  height: 20px;
  text-align: left;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.board_box li span {
  float: left;
  position: absolute;
  right:  0;
} 

.board_box li:hover {
  cursor: pointer;
}

.board_box li:active {
  border: 1px solid red;
}

.board_box p::before {
  content: '\00B7';
  padding: 10px;
}

.list1 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.list1 ul li {
  margin: 5px 0;
}

.list2 {
  display: none;
  position: relative;
}

.list2 ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  margin: 5px 0;
}

.list2 ul li {
  list-style: none;
  margin: 5px 0;
}

.list2_btn {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
}

.list2_btn button {
  width: 170px;
  height: 100%;
  font-size: 16px;
  text-align: left;
  color: #fff;
  padding: 10px;
  border: none;
}

.list2_btn i {
  position: relative;
  left: 90px;
  font-size: 1.1rem;
}

.list2_btn :nth-child(1) {
  background: rgb(76, 142, 241);
}

.list2_btn :nth-child(2) {
  background: rgb(26, 185, 159);
}

.list2_btn :nth-child(2) >i {
  background: rgb(26, 185, 159);
}

.list2_btn button:last-child {
  position: absolute;
  right: 0;
}

.list2_btn button:hover {
  text-decoration: underline;
  background: rgb(173, 173, 190);
  cursor: pointer;
}

.list2_btn :nth-child(1):hover >i,
.list2_btn :nth-child(2):hover >i {
  background:  rgb(173, 173, 190);
}

/* box 2 */
.image-board {
  width: 430px;
  height: 350px;
  margin: 0 10px;
  border: 1px solid rgb(202, 202, 207);
}

.pic-control {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 25%;
  padding: 0 20px;
}

.control_title {
  width: 40%;
}

.control_title h3 {
  font-family: 'Sunflower', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  word-spacing: -10px;
  color: rgb(49, 49, 49);
}

.control_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10%;
}
.control_btn button {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border: 1px solid rgb(202, 202, 207);
  background: transparent;
}

.control_btn button i {
  font-size: 30px;
  color: rgb(153, 153, 153);
}

.control_btn button:hover  {
  cursor: pointer;
}

.control_btn button:active {
  border: 1px solid red;
}

.event-slider {  
  display: flex;
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.event_pic {
  width: 100%;
  height: 220px;
}

.pics {
  display: flex;
  flex-direction: column;
}

.event_pic ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 250px;
}

.event_pic ul li {
  position: relative;
  list-style: none;
  margin: 0 10px;
}

.event_pic ul li:hover p {
  text-decoration: underline;
}

.event_pic ul li img {
  width: 400px;
  height: 80%;
  cursor: pointer;
}
.event_pic ul li p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
  margin-top: 10px;
}

/* box 3 */
.video-board {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 350px;
  margin: 0 10px;
}

.youtube {
  width: 100%;
  height: 70%;
}

iframe {
  width: 100%;
  height: 100%;
}

.video_btn {
  width: 100%;
  height: 30%;
  border-collapse: collapse;
}

.video_btn tr {
  text-decoration: none;
  background: rgb(238, 237, 237);
}

.video_btn tr td {
  width: 50%;
  padding: 0 10px;
  border: solid 1px rgb(202, 202, 207);
}

.video_btn tr td:hover {
  text-decoration: underline;
  background: rgb(170, 201, 229);
  cursor: pointer;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 130px;
  height: auto;
}

.family-company {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  height: 85px;
  border-top: 1px solid rgb(139, 133, 133);
}

.sitemap_slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 1350px;
  height: 100%;
}

.sitemap_slider h3 {
  top: 35%;
  width: 100px;
  font-size: 1vw;
  font-weight: 100;
}

.sitemap_scroll {
  position: relative;
  left: 5%;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
}

.sitemap_scroll ul {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 100%;
}

.sitemap_scroll ul li {  
  display: inline-block;  
  width: 400px;
  height: 85px;
  font-size: 30px;
  list-style: none;
}

.sitemap_scroll ul li img {
  width: 250px;
  height: 100%;
  cursor: pointer;
}

.sitemap_scroll ul li img:active {
  border: 1px solid red;
}

.site_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  min-height: 50px;
  background: rgb(73, 73, 73);
}

.site_info_text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  left: 3%;
  width: auto;
  color: rgb(153, 153, 153);
}

.site_info_text a {
  font-weight: 200;
  text-decoration: none;
  color: #fff;
  margin-left: 16px;
  margin-right: 16px;
}

.site_info_text a:hover {
  text-decoration: underline;
}

.site_info_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 5%;
  width: 100px;
  height: 50px;
}

.site_info_btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin: 1px;
  background-color:rgb(83, 83, 83);
}

.site_info_btn a i {
  color: #fff;
  font-size: 30px;
}

.site_info_btn a:active {
  border: 1px solid red;
}

.site_text {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 200px;
  background: rgb(51, 50, 50);
}

.site_text a p {
  position: relative;
  top: 15px;
  left: 145px;
  width: 5px;
  height: 5px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
}

.site_text_logo {
  position: relative;
  left: 18%;
  width: auto;
  margin-top: 2em;
}

.site_text_address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  left: 20%;
  width: 40%;
}

.site_text_address h4 {
  font-weight: 100;
  color: whitesmoke;
}

.site_text_address p {
  font-size: 15px;
  color: rgb(143, 139, 139);
}

.site_text_address :nth-child(2) {
  margin-bottom: 1em;
}

.site_text_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 22%;
}

.site_link {
  width: 180px;
  height: 40px;
}

.site_link p {
  color: #fff;
}

.site_link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.site_link * {
text-decoration: underline;
 border-radius: 15px;
 background: rgb(51, 50, 50);
 cursor: pointer;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}