@media screen and (max-width: 1700px) {

  .header-bar {
    width: 100%;
    height: 80px;
    background-color: #fff;
  }

  .drop-down {
    display: none;
  }

  .white-logo {
    position: absolute;
    left: 40%
  }

  .view-port-hamburger-bar {
    display: block;
  }

  .toggle-wrap {
    padding: 10px;
    cursor: pointer;
    float: left;
    padding: 10px 5px;
    position: absolute;
    top: 45%;
    left: 18%;
    background: rgb(126, 137, 165);
    z-index: 1;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .toggle-bar,
  .toggle-bar::before,
  .toggle-bar::after,
  .toggle-wrap.active .toggle-bar,
  .toggle-wrap.active .toggle-bar::before,
  .toggle-wrap.active .toggle-bar::after {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .toggle-bar {
    width: 35px;
    margin: 10px 0;
    position: relative;
    border-top: 4px solid #ffffff;
    display: block;
  }

  .toggle-bar::before,
  .toggle-bar::after {
    content: "";
    display: block;
    background: #fff;
    height: 3px;
    width: 35px;
    position: absolute;
    top: -12px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 13%;
    transform-origin: 13%;
  }

  .toggle-bar::after {
    top: 7px;
  }

  .toggle-wrap.active .toggle-bar {
    border-top: 4px solid transparent;
  }

  .toggle-wrap.active .toggle-bar::before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .toggle-wrap.active .toggle-bar::after {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  aside {
    display: block;
    position: absolute;
    width: 60%;
    height: 100vh;
    background: rgb(15, 55, 156);
    left: -60%;
    top: 120px;
    bottom: 0;
    /* padding-top: 70px; */
    transition: all 0.4s ease;
    z-index: 10;
  }

  aside.active {
    left: 0;
  }
  
  aside a {
    display: block;
    padding: 1.2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 10px auto;
  }

  aside a:last-child {
    border: 0;
  }

  .search-btn {
    position: absolute;
    right: 8%;
  }
}

@media screen and (max-width: 1200px) {

  #slides li {
    height: 500px;
  }

  .vertical-menu {
    display: none;
  }

  .notice-rolling {
    position: relative;
    top: -60px;
  }

  .three-boxes {
    margin: 1em 0 5em 0;
  }

  .sitemap_slider h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1000px) {

  .slider_handle {
    display: none;
  }

  .weather {
    display: none;
  }

  .home-menu {
    position: absolute;
    right: 10px;
  }

  .toggle-wrap {
    position: absolute;
    top: 45%;
    left: 5%;
  }
  .white-logo {
    left: 20%;
  }

  .notice-rolling {
    display: flex;
    flex-direction: column;
    height: 100px;
  }

  .note_control {
    position: absolute;
    right: 20px;
  }

  .notice {
    width: 100%;
  }

  /* main boxes */
  .three-boxes { 
    display: flex;
    flex-direction: column;
  }

  .board_box li p {
    width: 40vw;
  }

  .notice-board {
    width: 90%;
    margin: 0 0 1em 0;
  }

  .image-board {
    width: 90%;
    margin: 0 0 1em 0;
  }

  .event_pic{
    width: 100%;
  }

  .event_pic ul li {
    width: 100%;
  }

  .event_pic ul li img{
    width: 100%;
  }

  .video-board {
    width: 90%;
  }

  /* footer */
  .family-company {
    overflow: hidden;
  }

  .family-company h3 {
    font-size: 1.4rem;
  }

  .sitemap_scroll {
    width: 100%;
    left: 0;
  }

  .sitemap_scroll {
    display: flex;
    justify-content: baseline;
  }

  .site_info_btn {
    margin: 1em 0;
  }

  .site_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .site_text_logo {
    left: 0;
    width: auto;
    padding: 0;
    margin: 0;
  }

  .site_text_address {
    left: 0;
    width: auto;
    text-align: center;
  }
  .site_text_btn {
    left: 0;
    width: auto;
  }
}


