// Colors
$page-background-color: #2F3C4F;
$gradient-color-1: #F57170;
$gradient-color-2: #10DDC2;

// Keyframes
@keyframes animationgradienttitle {
  0% {
      background-position: 0 1600px;
  }
  100% {
      background-position: 1600px 0;
  }
}

// Tag Selectors
.hollow {

  font-size: 3em;
  color: #fc3735;
  background: -webkit-linear-gradient(left, $gradient-color-1,$gradient-color-2 , $gradient-color-1);
  background-size: 1600px 200px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 3s;
  animation-name: animationgradienttitle;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.u-font-lora {
  font-family: 'Lora', serif;
  font-size: 1.5em;
  font-weight: 700;
}





