/* 초기설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans', sans-serif;
  cursor: none;
}
body::-webkit-scrollbar{ 
  display: none;
}   
html,body{
  width: 100%;
  height: 100%;
  background: rgb(58, 58, 58);
}
a,p{
  color: aliceblue;
}
section{
  height: 100vh;
  width: 100vw;
}
/* 커서 애니매이션 */
#cursor{
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}
#cursor-border{
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}

/* 1 */
#first{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: appear 1.5s ease-in-out forwards;
}
.hollow{
  width: 100%;
  height: auto;
  text-align: center;
  padding: 10px 0;
  color: #fc3735;
  background: -webkit-linear-gradient(left, #F57170, #10DDC2, #F57170);
  background-size: 1600px 200px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: animationgradienttitle;
          animation-name: animationgradienttitle;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes appear{
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animationgradienttitle{
  0% {
    background-position: 0 1600px;
  }
  100% {
    background-position: 1600px 0;
  }
}
@keyframes animationgradienttitle{
  0% {
    background-position: 0 1600px;
  }
  100% {
    background-position: 1600px 0;
  }
}
.hollow.add{ 
  transform: translateY(0); 
  opacity: 1; 
}
.hollow p{
  font-family: 'Scope One', serif;
  font-size: 7vw;
  font-weight: bold; 
  line-height: 110px;

}
.hollow span{
  font-family: 'Scope One', serif;
  font-size: 5vw;
  font-weight: lighter;
}
/* 원 애니메이션 */
.circle{
  position: relative;
  top: 10%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.logo{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../images/down_arrow.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 40px;
}
.text{
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotares 10s linear infinite;
}
.text span{
  position: absolute;
  left: 50%;
  font-size: 1em;
  font-weight: lighter;
  transform-origin: 0 100px;
}
@keyframes rotares{
  0%{transform: rotate(360deg);}
  100%{transform: rotate(0deg);}
}

/* 2 */
#second{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  flex-wrap: wrap;
}
/* 네비메뉴 */
nav{
  width: 100%;
  text-align: end;
  display: flex;
  flex-direction: row;
  background: rgb(58, 58, 58);
  z-index: 100;
}
nav ul{
  width: 100%;
  max-height: 200em;
  margin-top: 1px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
  color: #fff;
}
nav.stickys{
  position: fixed;
  top: 0;
  left: 0;
}
nav ul li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin: 10px;
  font-size: 2rem;
}
nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  top: 50%;
  left: 0;
  background-color: rgb(173, 204, 0);
  transform-origin: left;
  transition: transform 0.25s ease-out;
}
nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
/* 소개 */
.texbox{
  width: 40%;
  height: 94%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  flex-wrap: nowrap;
  opacity: 0;
  transform: translateX(-1000px);
  transition: all .5s ease-in-out;
}
.texbox.add{
  transform: translateX(0);
  opacity: 1;
}
.texbox h2{
  font-size: 3vw;
  color: aliceblue;
  padding-bottom: 20px;  
}
.texbox span{
  color: rgb(173, 204, 0);
}
.texbox p{
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 1.2vw;
  padding-bottom: 20px;
  line-height: 40px;
}
/* 스킬 */
.skill_effect{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 60%;
  height: 94%;
  padding: 50px 0;
  opacity: 0;
  transform: translateX(1000px);
  transition: all .5s ease-in-out;
  transition-delay: .2s;
}
.skill_effect.add{
  transform: translateX(0);
  opacity: 1;
}
.skill_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  width: 100%;
  height: 80%;
  position: relative;
}
.content{
  width: 90%;
  height: 70%;
  transform: translateX(100px);
  animation: changein 1s ease-in-out forwards;
  display: none;
  position: relative;
}
@keyframes changein{
  to{ transform: translateX(0px); }
}
video{
  width: 100%;
  height: 100%;
  filter: blur(2px);
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}
#git{
  display: block;
} 
.skill_text p{
  width: 100%;
  height: auto;
  position: absolute;
  top: 25%;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 1.2vw;
  word-spacing: 7px;
  z-index: 200;
  background: rgba(255, 255, 255, 0.089);
  font-weight: bold;
  padding: 30px 10px;
}
.skill_btn{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn{
  width: 100%;
  height: 15vh;
  background: transparent;
  overflow: hidden;
  text-align: center;
  padding-top: 10px ;
}
.skill_btn img{
  width: 100px;
}
.skill_btn:hover > *{
  opacity: 0.4;
  transform: scale(0.9);
}
.skill_btn > *:hover{
  opacity: 1; 
  transform: scale(1); 
  transition-delay: 0ms, 0ms; 
}
.skill_btn p :hover{
  transform: scale(1.07);
}

/* 3 */
/* 포트폴리오 */
.pofol_box{
  height: 700vh;
}
.sticky{
  position: sticky;
  top: 0px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.horizontal{
  display: flex;
}
.dim{
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s all ease;
  transform: translatey(500px);
  position: relative;
}
.dim.add{
  transform: translateY(0);
  opacity: 1;
}
.pofol{
  width: 60%;
  height: 70%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  position: relative;
  border-radius: 30px;
}
.pofol img{
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  filter: grayscale(80%);
  position: absolute;
  border-radius: 30px;
}
.pofol:hover img{
  filter: none;
}
.text_even{
  display: none;
}
.mypofol_text{
  width: 30%;
  height: auto;
  margin: 20px;
}
.mypofol_text h2{
  font-size: 1.4vw;
  color: aliceblue;
  border-left: 4px solid rgb(207, 85, 85);
  padding-left: 10px;
}
.mypofol_text p{
  font-size: 1vw;
  padding: 20px 0 10px 10px;
}
.mypofol_text img{
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  border-radius: 5px;
  width: 50px;
  height: 50px;
  position: relative;
  top: 20px;
  margin: 5px;
}
.mypofol_text span{
  padding-left: 30px;
  font-size: 1.2vw;
}
.mypofol_text :nth-child(5) span{
  word-spacing: 30px;
}
.mypofol_text button{
  border-radius: 10px;
  border: transparent;
  margin: 50px 200px;
  padding: 5px 40px;
  width: 150px;
  transition: all .5s ease-in-out;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}
.mypofol_text button:hover{
  background: rgb(58, 58, 58);
  color: aliceblue;
  border: 1px solid aliceblue;
  transition: all .5s ease-in-out;
}
/* footer */
footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background-color: rgb(173, 204, 0);
  position: relative;
}
#bye >p{
  font-size: 10vw;
  color: rgb(0, 57, 65);
  margin: 0 50px 40px;
}
.contact{
  float: left;
  word-spacing: 50px;
  margin: 0 50px 0;
}
.contact i{
  padding-right: 13px;
  padding-left: 13px;
  color: #fff;
  font-size: 5vw;
}
.rights{
  font-size: 2rem;
  color: #fff;
  position: absolute;
  bottom: 5%;
  left: 37%;
}