/* 초기설정 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans', sans-serif;
  cursor: none;
}
body::-webkit-scrollbar { 
  display: none;
}   
html,body{
  width: 100%;
  height: 100%;
  background-color: rgb(58, 58, 58);
}
section{
  height: 100vh;
  width: 100vw;
}
/* 커서 애니매이션 */
#cursor{
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}
#cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}
/* 1 */
#first{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hollow{
  width: 100%;
  height: auto;
  text-align: center;
  animation: appear 1.5s ease-in-out forwards;
  padding: 10px 0;
}
@keyframes appear{
  from {
  opacity: 0;
  transform: translateY(-70px);
  }
  to {
  opacity: 1;
  }
}
.hollow.add{ 
  transform: translateY(0); 
  opacity: 1; 
}
.hollow p{
  font-family: 'Scope One', serif;
  font-size: 6vw;
  font-weight: bold; 
  color: #fff;
  line-height: 110px;
}
.hollow span{
  font-family: 'Scope One', serif;
  font-size: 5vw;
  font-weight: lighter;
}
/* 원 애니메이션 */
.circle{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10%;
}
.logo{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../images/down_arrow.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 40px;
}
.text{
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotares 10s linear infinite;
  color: rgb(80, 255, 159) 
}
.text span{
  position: absolute;
  left: 50%;
  font-size: 1em;
  font-weight: lighter;
  transform-origin: 0 100px;
}
@keyframes rotares{
  0%{transform: rotate(360deg);}
  100%{transform: rotate(0deg);}
}

/* 네비메뉴 */
nav{
  width: 100%;
  text-align: end;
  z-index: 200;
  display: flex;
  flex-direction: row;
  background-color: #222;
}
nav ul{
  width: 100%;
  max-height: 200em;
  margin-top: 1px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
  color: #fff;
}
nav.stickys{
  position: fixed;
  top: 0;
  left: 0;
}
nav ul li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  margin: 10px;
  font-size: 2rem;
}
nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  bottom: 50%;
  left: 0;
  background-color: rgb(218, 255, 10);
  transform-origin: left;
  transition: transform 0.25s ease-out;
}
nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* 2 */
#second{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  flex-wrap: wrap;
}
/* 소개 */
.texbox{
  width: 50%;
  height: 94%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  flex-wrap: nowrap;
  opacity: 0;
  transform: translateX(-1000px);
  transition: 1s all ease;
}
.texbox.add{
  transform: translateX(0);
  opacity: 1;
}
.texbox h2{
  font-size: 3vw;
  color: aliceblue;
  padding-bottom: 20px;  
}
.texbox span{
  color: rgb(62, 235, 128);
}
.texbox p{
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 1.2vw;
  color: aliceblue;
  padding-bottom: 20px;
  line-height: 40px;
}
/* 스킬 */
.skill_effect{
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 94%;
  padding: 50px;
  opacity: 0;
  transform: translateX(1000px);
  transition: 1s all ease;
  transition-delay: .3s;
  border: 1px solid red;
}
.skill_effect.add{
  transform: translateX(0);
  opacity: 1;
}
.skill_btn p{
  transition-delay: 1s;
}
.skill_effect div{
  border: 1px solid red;
}
.skill_btn{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn{
  width: 100%;
  height: 15vh;
  background: transparent;
  color: #fff;
  overflow: hidden;
  text-align: center;
  padding-top: 10px ;
}
.skill_btn img{
  width: 100px;
}
.skill_btn > * {
  /* background: white;
  flex: auto;
  margin: 0.3em;
  text-align: center;
  color: #f05555;
  font-size: 1.5vw;
  text-decoration: none; */
}
.skill_btn{
  visibility: hidden;
}
.skill_btn > *{
  visibility: visible;
}
.skill_btn > *{
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}
.skill_btn:hover > *{
  opacity: 0.4;
  transform: scale(0.9);
}
.skill_btn > *:hover{
  opacity: 1; 
  transform: scale(1); 
  transition-delay: 0ms, 0ms; 
}
.skill_btn p :hover{
  transform: scale(1.07);
}
.skill_text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
.skill_text p{
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 2vw;
  word-spacing: 7px;
}
#html{
  display: block;
} 
.content{
  display: none;
  padding: 10px;
  width: 80%;
  height: auto;
  animation: changein 1s ease-in-out forwards;
}
@keyframes changein{
  0%{ transform: translatex(100px); }
  100%{ transform: translatex(0px); }
}
.content p{
  color: rgb(13, 218, 105); 
}

/* 3 */
/* 포트폴리오 */
.pofol_box{
  height: 700vh;
}
.sticky{
  position: sticky;
  top: 0px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.horizontal{
  display: flex;
}
.dim{
  min-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  opacity: 0;
  transition: 1s all ease;
  transform: translatey(500px);
}
.dim.add{
  transform: translateY(0);
  opacity: 1;
}
.pofol{
  width: 70%;
  height: 70%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.pofol img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
#textEven{
  width: 71%;
  height: 71%;
  border-radius: 30px;
  position: absolute;
  bottom: -80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
}
#textEven h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 5vw;
} 
#textEven p{
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 2vw;
  font-weight: bolder;
  width: 50%;
  color: #fff;
  line-height: 5rem;
}
#textEven span{
  word-spacing: 50px;
  color: #bed304;
}
.black{
  color: rgb(0, 0, 0) !important;
}
.mypofol_text >h1,
.public_text >h1{
  color: rgb(145, 170, 0);
}
.starbuck_text >h1,
.melon_text >h1{
  color: rgb(13, 218, 105); 
}
.pofol:hover #textEven{
  opacity: 1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  bottom: 140px;
}
.pofol:hover img{
  filter: grayscale(80%) blur(10px);
}

/* footer */
footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background-color: rgb(173, 204, 0);
  position: relative;
}
#bye >p{
  font-size: 10vw;
  color: rgb(0, 57, 65);
  margin: 0 50px 40px;
}
.contact{
  float: left;
  word-spacing: 50px;
  margin: 0 50px 0;
}
.contact i{
  padding-right: 13px;
  padding-left: 13px;
  color: #fff;
  font-size: 5vw;
}
.rights{
  font-size: 2rem;
  color: #fff;
  position: absolute;
  bottom: 5%;
  left: 37%;
}