@media (max-width:1500px){
  /* 1 */
  .circle{
    display: none;
  }
}

@media (max-width:1200px){
  /* 1 */
  .hollow p{
    font-size: 15vw;
  }
  /* 2 */
  nav{
    margin: 0;
  }
  nav ul li{
    margin: 0;
    padding: 0 20px;
  }
  .texbox{
    width: 100%;
    height: 50%;
    margin-top: 40px;
  }
  .texbox h2{
    font-size: 3rem;
    padding: 0;
    margin: 0;
  }
  .texbox p{
    font-size: 1.8rem;
    line-height: 50px;
    padding: 0;
    margin: 0;
  }
  .skill_effect{
    width: 100%;
    height: 50%;
  }
  .skill_btn button{
    font-size: 2rem;
  }
  .content p{
    font-size: 2rem;
  }
   /* 3 */
   #textEven h1{
    font-size: 7vw;
  }
  #textEven p{
    font-size: 2.5vw;
    padding-bottom: 30px;
  }
  /* footer */
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #bye p{
    font-size: 11vw;
  }
  .contact i{
    font-size: 12vw;
  }
  .rights{
    text-align: center;
  }
}

@media (max-width:800px){
  /* 2 */
  nav ul li{
    padding: 0 6px;
  }
  nav ul li a{
    font-size: 2rem;
  }
  .texbox{
    padding-top: 5em;
  }
  .texbox h2{
    font-size: 6vw;
  }
  .texbox p{
    font-size: 4vw;
    line-height: normal;
  }
  .skill_text p{
    font-size: 4.5vw;
  }
  .skill_effect{
    width: 100%;
    height: 50%;
  }
  .skill_btn button{
    font-size: 3.5vw;
    border-radius: 10px;
    height: 70%;
  }
  /* 3 */

  #textEven{

    text-align: center;
  }
  #textEven h1{
    font-size: 10vw;
  }
  #textEven p{
    font-size: 4vw;
    line-height: normal;
  }
  .pofol{
    border: 1px solid red;
    overflow: hidden;
  }
  .pofol img{
    width: 150%;
  }
  /* footer */
  #bye >p{
    font-size: 9vw;
  }
  .rights{
    left: 8%;
  } 
}
