@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Noto+Sans+KR&family=Poppins:wght@300&display=swap');
/* 초기설정 */
* {  
  margin:0; 
  padding:0;
  box-sizing: border-box;

}
html, body { 
  width: 100%; 
  height: 100%; 

}
#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
a, p {
  text-decoration: none; 
  color: rgb(22, 26, 31);
}
button{ font-family: 'Noto Sans KR', sans-serif; }
/* body::-webkit-scrollbar { display: none; }    */


/* intro */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  background-image: url(../images/wallpaper_page1.png);
  background-size: cover;
}
/* nav */
.navbar:hover {
  background: #fff;
  cursor: pointer;
}
.navbar {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  width: 100%;
}
.sticky {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar .nav_logo {
  text-decoration: none;
  color: #122f48;
  width: 60px;
  height: 60px;
  margin: 5px;
}
.nav_logo img{
  width: 100%;
  height: 100%;
  
} 

/* nav menu button */

.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;
  
}

.navbar .menu-btn__lines::before,
.navbar .menu-btn__lines::after {
  content: "";
  position: absolute;
}

.navbar .menu-btn__lines,
.navbar .menu-btn__lines::before,
.navbar .menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background: #132f48;
  transition: all 0.4s ease-in-out;
}

.navbar .menu-btn__lines::before {
  transform: translateY(-0.5rem);
}

.navbar .menu-btn__lines::after {
  transform: translateY(0.5rem);
}

.navbar .menu-items {
  display: flex;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  transition: 0.3s ease;
  
}

.navbar ul li .arrow {
  transition: all 0.3s ease-out;
}

.navbar ul li a {
  text-decoration: none;
  color: #112f48;
}

/* dropdown menu */

.navbar .dropdown {
  position: relative;
}
.navbar .dropdown-menu,
.menu-right {
  position: absolute;
  background: #fff;
  width: 190px;
  line-height: 30px;
  border-radius: 0 0 5px 5px;
  top: 65px;
  border-top: 1px solid white;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;

}

.navbar .menu-right {
  top: 0;
  left: 100%;
}
.navbar .dropdown-menu,
.menu-left {
  left: unset;
  right: 0;
}
.navbar .menu-left {
  left: -100%;
}

.navbar .menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  font-size: 1.3rem;
  
  /* 위에 메뉴 */
}
.navbar .menu-item:hover {
  color: #e6ae17;
}

.menu-item.first-item {
  padding: 1.5rem 1rem;
}

.navbar .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

/* mega menu  */

.navbar .mega-menu {
  position: absolute;
  left: 0;
  width: 100vw;
  top: 65px;
  border-top: 1px solid #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-out 0s, visibility 0.1s linear 0s;

}

.mega-menu .content {
  background: #fff;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(5, 250px);
  width: 100%;
  justify-content: space-between;
  /*  */
  
}


.content .col {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  border-left: 3px solid #e6ae17;

  
}

.content .col .menu-title {
  color: #e6ae17;
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: bold;
  padding-left: 20px;
  
}

.content .col p {
  line-height: 1.2rem; 
  margin-top: 5px;
  color: #112f48;
  /*  */
}

.content .col .read-more {
  font-size: 16px;
  display: flex;
  padding-top: 1rem;
  color: #03a9f4;
  transition: color 0.3s ease;
  justify-content: flex-end;
  padding-right: 10px;
}

.col .mega-links li,
.col .mega-links li a {
  font-size: 1rem;
  font-weight: bold;
  /* 작은 네뮤 */

}

.menu-items li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

.content .col .read-more:hover {
  color: #ff5722;
}

/* animation menu hamburger */
.menu-btn.open .menu-btn__lines {
  transform: translateX(1rem);
  background: transparent;
}

.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-0.5rem, 0.5rem);
  background: #132f48;
}

.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-0.5rem, -0.5rem);
  background: #132f48;
}












/* intro main */
.intro-box {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 80%;
}
#intro-text{
  width: 50vw;
  text-align: center;
}
#intro-text p{
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: -2px;
}
#intro-text h1{
  font-size: 5vw;
  text-transform: uppercase;
  letter-spacing: -2px;
}
#intro-text span {
  display: block;
  letter-spacing: -4px;
  line-height: 80px;
  margin: 11px 0 17px 0;
  color: #fff;
  text-shadow: 0 13.36px 8.896px #bb8837,0 -2px 1px #fff;
}
#intro-text button {
  width: 210px;
  padding: 10px 0;
  margin: 2em 0;
  font-size: 1rem;
  border-radius: 5px;
  color: rgb(22, 26, 31);
  cursor: pointer;
  border: none;
  transition: all .2s ease-in-out;
  box-shadow: 0 13.36px 8.896px #bb8837,0 -2px 1px #fff;
}
#intro-text button:hover {
  color: aliceblue;
  background: rgb(68, 76, 85);
  border: none;
  box-shadow: none;
  transition: all .2s ease-in-out;
}
#intro-image{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  height: 100%;
}
#intro-image img{
  width: 20vw;
  height: auto;
  filter: drop-shadow(5px 5px 5px #bb8837);
}
.botttom_text {
  margin: 20px 0;
}
/* cards */
.cards {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.reward {
  border-radius: 20px 20px 0 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.651);
  height: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  transform: translateY(400px);
  transition: all .5s ease-in-out;
}
.card{  transform: translateY(500px); }
.e-gift{  transform: translateY(600px); }
.reward.add{
  transform: translateY(0);
  opacity: 1;
  transition: all .5s ease-in-out;
}
.reward img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.slider-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  width: 90%;
  text-align: center;
  padding: 20px 10px;
  border-radius: 20px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.534);
  transform: translateY(-300px);
  transition: all .5s ease-out;
}
.slider-text h2 {
  font-family: 'Hahmlet', serif;
  font-size: 1.5vw;
  padding-bottom: 20px;
  color: #fff;
}
.slider-text span {
  font-family: 'Hahmlet', serif;
  color: #159e1c;
}
.slider-text p{
  font-family: 'Hahmlet', serif;
  font-size: 1vw;
  font-weight: bold;
  color: rgb(209, 209, 209);
}
.slider-text button {
  padding: 5px 10px;
  margin: 20px 0;
  font-size: 1rem;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: none;
}
.reward:hover div { 
  opacity: 1;
  transform: translateY(0);
  transition: all .5s ease-in-out;
}
.slider-text button:hover {
  color: aliceblue;
  border: transparent;
  background: rgb(68, 76, 85);
  transition: all .2s ease-in-out;
}
/* coffees */
.coffees {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}
#slogan {
  position: absolute;
  top: 5em;
  left: 2%;
  z-index: 10;
}
.right {
  animation: right-slide 1s ease-out;
}
@keyframes right-slide {
  0%{
    opacity: 0;
    transform:translateX(-100px);
}
  100%{
    transform:translate(0px);
    opacity: 1;
  }
}
#slogan h1 {
  font-size: 6vw;
  line-height: 130px;
  font-weight: bold;
  color: rgb(18, 159, 100);
}
#slogan button {
  width: 100%;
  margin: 30px 0;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(18, 159, 100);
  border: 3px solid rgb(18, 159, 100);
  background: transparent;
  transition: all .2s ease-out;
}
#slogan button:hover {
  color: aliceblue;
  background: rgb(18, 159, 100);
  transition: all .2s ease-out;
}
#slogan p {
  font-family: 'Hahmlet', serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(68, 76, 85);
}
#new_menu {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
  grid-gap:1rem;
  max-width: 1600px;
  max-height: 900px;
  overflow: hidden;
  position: absolute;
  right: 0;
  border: 1px solid red;
}
.left {
  animation: left-slide 1s ease-out;
}
@keyframes left-slide {
  0%{
    opacity: 0;
    transform:translateX(100px);
}
  100%{
    transform:translate(0px);
    opacity: 1;
  }
}
.new {
  position: relative;
  min-width: 16vw;
  height: 100%;
  transition: all 1s ease-in-out;
  overflow: hidden;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.new img{
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out;
}
.new:hover img{
  transform: scale(1.2);
  transition: all .5s ease-in-out;
}
.arrow_box {
  position: absolute;
  width: 120px;
  padding: 10px 0;
  bottom: 10%;
  left: 34%;
  text-align: center;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgba(240, 248, 255, 0.473);
  color:#000;
  font-size: 14px;
  opacity: 0;
  transition: all .5s ease-in-out;
}
.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: rgba(240, 248, 255, 0.473);
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}
.new img:hover +.arrow_box {
  transition: all .5s ease-in-out;
  position: absolute;
  opacity: 1;
  bottom: 50px;
}
.coffee8{
  text-align: center;
  padding: 100px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.coffee8 >p{
  font-size: 1.5rem;
  color: #183a0896;
  font-weight: bold;
}
/* product */
.product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bean.png);
  background-size: cover;
}
#product-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
}
#product-box.add {
  transform: translateX(0);
  opacity: 1;
}
/* box1 */
.parent {
  width: 30vw;
  height:20em;
  text-align: center;
  border-radius: 10px;
  margin-left: 1em;
  box-shadow: rgba(0, 0, 0, 0.822) 2.95px 2.95px 5.6px;
  overflow: hidden;
  position: relative;
  display: inline-block;
cursor: pointer;
}
.box_text1{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg-one {background-image: url(../images/toraja3.jpg) 
}

.box_text1 >h2 {
  /* display: none; */
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1vw;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.box_text1 >p {
  /* display: none; */
  font-family: 'Noto Sans KR', sans-serif;
  font-size: .8rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}
.box_text1 >button {
  text-align: center;
  width: 200px;
  padding: 5px 0;
  border-radius: 10px;
  border: 3px solid #fff;
  background-color: transparent;
  transition: all .3s ease-out;
  cursor: pointer;
  /* display: none; */
}
.box_text1 >button a{
  color: rgb(255, 255, 255);
}

.parent:hover .box_text1, .parent:focus .box_text1 {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.parent:hover .box_text1:before, .parent:focus .box_text1:before {
  display: block;
}
.parent:hover button, .parent:focus button,
.parent:hover h2, .parent:focus h2,
.parent:hover p, .parent:focus p {
  display: block;
}

.box_text1 button:hover{
  background-color: rgba(68, 76, 85, 0.692); 
  border: 3px solid   rgba(68, 76, 85, 0.692); 
  
}
/* box2 */
.box_text2 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  height: auto;
  margin: 3em 0;
}
.box_text2 :last-child {
  margin: 0 0 0 2em;
}
.inner-text {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20vw;
  height: 200px;
  color: rgb(243, 243, 243);
  cursor: pointer; 
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.822) 2.95px 2.95px 5.6px;
}
.inner-text:hover img {
  filter:  grayscale(100%);
}
.inner-text img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.inner-text_box {
  position: absolute;
  width: 100%;
  height: auto;
  right: 0;
  bottom: -200px;
  opacity: 0;
  border-radius: 0 0 10px 10px;
  border-top: 3px solid #aaa838;
  background: #2c2c2173;
  transition: all .3s ease-in-out;
  padding: 10px;
}
.inner-text:hover .inner-text_box {
  opacity: 1;
  bottom: 0;
  transition: all .3s ease-in-out;
}
.inner-text_box >h2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: .9vw;
  color: rgb(243, 243, 243);
}
.inner-text_box p { 
  font-family: 'Noto Sans KR', sans-serif;
  font-size: .7vw;
  color: rgb(243, 243, 243);
}
.inner-text_box h2:hover,
.inner-text_box p:hover {
  text-decoration: underline;
}
/* box3 */
.box_text3 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: auto;
}
.box_text3 :last-child {
  margin-left: 2em;
}
.inner-box {
  position: relative;
  width: 14vw;
  height: 10em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.822) 2.95px 2.95px 5.6px;
  overflow: hidden;
}
.inner-box img {
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
}
.inner-box-text {
  position: absolute;
  width: 100%;
  height: auto;
  right: 0;
  bottom: 0px;
  padding: 5px 1px;
  opacity: 1;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.589);
}
.inner-box:hover img {
  transform: scale(1.3);
  transition: all .3s ease-in-out;
}
.inner-box-text p {
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
}
.inner-box-text p:hover {
  text-decoration: underline;
}
/* bean */
#new-bean {
  display: flex;
  flex-direction: column;
  width: auto;
  max-height: 70vh;
  padding: 20px;
  margin-left: 1em;
  color: #fff;
  background: #4d4a4a2f;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.822) 2.95px 2.95px 5.6px;
  transition: 1s all ease;
}
.bean_text { 
  width: inherit;
  height: 20%;
  text-align: center;
  padding: 1em;
  border-bottom: 2px solid #fff;
}
.bean_text h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 3rem;
  line-height: 40px;
}
.bean_text p {
  font-family: 'Noto Sans KR', sans-serif;
  color: aliceblue;
  margin-top: 1em;
  font-weight: bold;
}
.bean_text span { 
  color:  #d3d034;
  font-weight: bold;
}
.bean_image {
  display: flex;
  flex-direction: row;
  position: relative;
}
.bean_info {
  display: flex;
  flex-direction: row;
  width: 20vw;
  height: 300px;
  text-align: center;
  
}

.bean_info h1 {
  font-size: 1.2vw;
  color: #d3d034;
  padding: 10px 5px;

}
.bean_info p {
  font-size: .7vw;
  color: #fff;
  padding: 0 5px;
}
.info_notes{
  border-right: 2px solid #fff;
  width: 50%;
  margin: 40px 0;
  padding: 0 1.7em;
}
.info_text{
  width: 50%;
  margin: 40px 0;
  padding: 0 1.7em;

}
.bean_image button{
  position: absolute;
  bottom: 10%;
  right: 0;
  width: 20vw;
  padding: 10px 0;
  margin:  0 10px;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: all .3s ease-in-out;
  z-index: 999;
}

.bean_image button:hover{
  box-shadow: 0px 15px 20px #1a1914ce;
  transform: translateY(-7px);
  background: #1a1914e5;
}
/* videos */
.videos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.videos video{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#video-text{
  position: absolute;
  top: 30%;
  width: 100%;
  font-family: 'Hahmlet', serif;
  text-align: center;
  padding: 60px 0;
  color: rgb(39, 39, 39);
  background: rgba(223, 223, 223, 0.884);
  transition: all 1s ease-in-out;
}
.down {
  animation: down-slide 1s ease-out;
}
@keyframes down-slide {
  0%{
    transform:translateY(-300px);
}
  100%{
    transform:translateY(0px);
  }
}
#video-text h2 { 
  font-size: 4vw;
  font-weight: bold;
  color: rgb(18, 159, 100);
}
#video-text h3 {
  font-size: 2vw;
  padding: 20px;
}
#video-text p { 
  font-size: 1.1vw;
  font-weight: bolder;
}
#video-text span {
  color: rgb(18, 159, 100);
  font-size: 1.1vw;
}
#video-text button {
  width: 300px;
  font-size: 20px;
  padding: 8px 20px;
  margin-top: 50px;
  border-radius: 10px;
  color: rgb(78, 78, 78);
  cursor: pointer;
  border: 3px solid rgb(78, 78, 78);
  background: transparent;
  transition: all .3s ease-in-out;
}
#video-text button:hover {
  background: rgb(78, 78, 78);
  color: aliceblue;
  transition: all .3s ease-in-out;
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  background: rgb(18, 159, 100);
}
/*  */
.adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.adress_icon {
  float: left;
  text-align: center;
}

.adress_icon i {
  margin: 0 40px;
  font-size: 4rem;
  color: aliceblue;
  cursor: pointer;
  transition: all .5s ease-out;
}
.adress_icon i:hover {
  transform: scale(1.3);
  transition: all .3s ease-out;
}
.adress_txt{
  margin: 2em 0 0 0;
}
.adress_txt p {
  font-size: 1rem;
  text-align: center;
  color: aliceblue;
}
/*  */
.sitemap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
}

.sitemap_btn{
  width: 100%;
}
.sitemap_btn button {
  padding: 10px 0;
  width: 10vw;
  font-size: 1rem;
  color: aliceblue;
  cursor: pointer;
  background: transparent;
  transition: all  .3s ease-in-out;
  border: 2px solid aliceblue;
}
.sitemap_btn button:hover {
  color: rgb(18, 159, 100);
  background: aliceblue;
  transition: all  .3s ease-in-out;
}
.sitemap_list {
  width: 100%;
  text-align: center;
  line-height: 30px;
  margin: 2em 0 0 0;
}
.sitemap_list a {
  position: relative;
  font-size: 1rem;
  padding: 0 1em;
  color: #fff;
  text-decoration: none;
}
.sitemap_list a:hover {
  text-decoration: underline;
}
