@media screen and (max-width: 1700px) {

  #slogan p {
    color: aliceblue;
  }
}

@media screen and (max-width: 1300px) {
  /* intro */
  .intro-box {
    display: flex;
    justify-content: center;
  }

  #intro-text {
    width: auto;
  }

  #intro-text p,
  #intro-text h1 {
    font-size: 5rem;
  }

  /* nav menu */
  .navbar {
    padding: 10px 20px;
  }

  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  .overlay--active {
    opacity: 1;
    visibility: visible;
  }

  .menu-btn {
    display: flex;
  }

  .navbar .menu-items {
    display: block;
    position: fixed;
    height: 100%;
    max-height: initial;
    width: 70%;
    top: 65px;
    left: 0;
    padding-bottom: 100px;
    background: #fff;
    transform: translateX(-100vh);
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    overflow-y: auto;
  }

  .navbar .menu-items::-webkit-scrollbar {
    width: 10px;
    background-color: #222222;
  }

  .navbar .menu-items::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #222222;
  }

  .navbar .menu-items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: aliceblue;
  }

  .menu-items.open {
    transform: translateY(0);
  }

  .menu-items li:first-child {
    margin-top: 20px;
  }

  .menu-items li a {
    display: block;
    font-size: 18px;
    padding: 10px 1rem;
  }

  .menu-item.first-item {
    padding: 1rem 1rem;
  }

  .menu-items .dropdown-menu,
  .menu-items .menu-right,
  .menu-items .mega-menu {
    position: static;
    top: 4rem;
    width: auto;
    max-height: 0;
    margin-left: -18px;
    transform: scaleX(0);
    transform-origin: left;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
  }

  .menu-items .dropdown-menu,
  .menu-items .menu-right {
    width: 102%;
    margin-left: -10px;
    padding-left: 1rem;
  }

  .menu-items .mega-menu .col {
    padding-left: 1rem;
  }

  .expand-btn.open + .sample {
    max-height: 100%;
    transform: scaleZ(1);
  }

  .navbar .sample {
    border-top: none;
  }

  .sample li {
    margin: 0;
  }

  .sample li:last-child {
    border-bottom: none;
  }

  .sample li a {
    font-size: 1rem;
  }

  .mega-menu .content {
    display: grid;
    grid-template-columns: auto;
    padding: 1rem 1rem 0 1rem;
  }

  .mega-menu .content .col {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .col .mega-links li a {
    padding: 0 0.5rem;
  }

  .content .col .mega-links {
    border-left: 0;
    padding-left: 0.5rem;
  }
  .col .mega-links li {
    padding: 0 0.5rem;
    margin: 0;
  }

  #intro-image {
    display: none;
  }

  /* cards */
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  .reward {
    width: 80%;
    height: 300px;
   }
   
  .moblie {
    background-image: url(../images/card1_viewport.jpeg);
    background-size: cover;
  }
  .card {
    background-image: url(../images/card2_viewport.jpg);
    background-size: cover;
  }

  .e-gift {
    background-image: url(../images/card3_viewport.png);
    background-size: cover;
  }

  .reward img {
    display: none;
  }

  .slider-text {
    top: 8%;
  }

  .slider-text h2 {
    font-size: 1.5rem;
  }

  .slider-text p {
    font-size: 1rem;
  }

  /* coffees */
  #slogan p {
    color: #222222;
  }

  #slogan h1 {
    font-size: 8rem;
    line-height: normal;
  }

  #new_menu {
    max-width: 500px;
    overflow-y: scroll;
  }

  #new_menu::-webkit-scrollbar {
    width: 10px;
    background-color: #222222;
  }

  #new_menu::-webkit-scrollbar-track {
    background-color: #bdb8b8;
  }

  #new_menu::-webkit-scrollbar-thumb {
    background: #fff;
  }

  /* product */
  #product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }

  #new-bean {
    display: none;
  }

  .box-parent {
    width: 60vw;
    height: 45vh;
  }

  .box-parent h2 {
    font-size: 3vw;
  }

  .box-parent p {
    font-size: 1.5vw;
  }

  .inner-text {
    width: 40vw;
  }

  .inner-box {
    width: 30vw;
  }

  .inner-text h2 {
    font-size: 1.2rem;
  }

  .inner-text p {
    font-size: 1rem;
  }

  /* videos */
  #video-text h2 {
    font-size: 3rem;
  }

  #video-text h3 {
    font-size: 2rem;
  }

  #video-text p,
  #video-text span {
    font-size: 1.5rem;
  }

  /* footer */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .adress {
    width: 100%;
    height: auto;
  }

  .adress_icon {
    padding-top: 6em;
  }

  .adress_txt {
    margin: 3em;
    padding-bottom: 5em;
    border-bottom: 2px solid aliceblue;
  }

  .sitemap {
    width: 100%;
    height: auto;
    padding: 1em;
  }

  .sitemap_btn {
    width: 100%;
  }

  .sitemap_btn button {
    width: 100%;
    margin: 5px 0;
  }

  .sitemap_list a {
    padding: 0 5px;
  }

  #new_menu::-webkit-scrollbar {
    width: 10px;
    background-color: #222222;
  }

  #new_menu::-webkit-scrollbar-track {
    background-color: #bdb8b8;
  }

  #new_menu::-webkit-scrollbar-thumb {
    background: #fff;
  }
}

@media screen and (max-width:800px) {
  /* cards */
  .reward {
    display: flex;
    flex-direction: unset;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .slider-text {
    top: 5%;
  }

  .reward h2 {
    font-size: 1.5rem;
  }

  .reward p {
    font-size: 1rem;
  }

  /* product */
  .inner-box-text p {
    font-size: .8rem;
  }

  .inner-box-text i {
    display: none;
  }

  /* new-bean */
  #video-text h2 {
    font-size: 2rem;
  }

  #video-text h3 {
    font-size: 1.8rem;
  }

  #video-text span,
  #video-text p {
    font-size: 1.2rem;
  }
}